body {
  background-color: #303841;
  color: #f0f0f0;
}
p {
  color: #fffda2;
  font-size: 2.1rem;
  font-family: "Inconsolata", monospace;
  width: 140px;
}
h1 {
  color: #ccd1e4;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  text-align: center;
}
.refresh {
  background-color: #303841;
  color: #d9d7f1;
  border-style: none;
  bottom: 80px;
  left: 240px;
  font-size: 3rem;
  position: relative;
  width: 50px;
  height: 50px;
}
.refresh:hover {
  color: #ff7f3f;
}
.main {
  display: grid;
  grid-template-rows: 1fr 1.85fr;
  place-items: center;
}
.score-board {
  width: 300px;
  height: 100px;
  margin-bottom: -30px;
}
.game-board {
  border-radius: 15px;
  width: 300px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.play-button {
  background-color: #676fa3;
  color: #1a374d;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border-style: none;
  font-weight: bolder;
}
.play-button:hover {
  background-color: #475162;
}
.image {
  width: 50px;
}
.result {
  font-size: 2.5rem;
  margin-top: 40px;
}
@media only screen and (min-width: 600px) {
  p {
    font-size: 2.5rem;
  width: 200px;

  }
  h1 {
    font-size: 3rem;
    margin: 40px 0 80px 0;
  }
  .score-board {
    width: 420px;
    height: auto;
    margin-bottom: -50px;
  }
  .play-button {
    width: 125px;
    height: 125px;
  }
  .game-board {
    width: 420px;
    grid-gap: 19px;
    margin-top: 0;
    margin-bottom: -50px;
  }
  .refresh {
    font-size: 3.5rem;
    left: 350px;
    bottom: 95px;
  }
  .main {
    grid-template-rows: 0.2fr 2.1fr;
  }
  .result {
    margin-top: 90px;
    font-size: 3rem;
  }
}
